:root {
  --primary: #191919;
  --secondary: #4c4c4c;
  --gray: #b3b3b3;
  --light-gray: #eee;
  --white: #ffffff;

  --blue: #195d87;
  --sky-blue: #acd6fc;
  --red: #ff4b2a;

  --shadow: #00000088;

  --large: 24px;
  --middle: 18px;
  --small: 12px;
}
.loading {
  margin-bottom: 20px;
  font-size: var(--large);
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.title {
  margin-bottom: 20px;
  font-size: var(--large);
  font-weight: 700;
}

.time_count {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid var(--secondary);
  border-radius: 10px;
}

.button {
  width: 100px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--primary);
  border: 1px solid transparent;
  border-radius: 10px;
  color: var(--white);
  font-size: var(--middle);
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary);
}

.button:active {
  background-color: var(--gray);
}

.order_btn {
  width: 200px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--red);
  border: 1px solid transparent;
  border-radius: 10px;
  color: var(--white);
  font-size: var(--middle);
  cursor: pointer;
}

.ordering {
  width: 200px;
  padding: 10px;
  background-color: var(--primary);
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: var(--middle);
  background-color: var(--sky-blue);
  color: var(--primary);
  text-align: center;
}
.ordering.last_min {
  background-color: var(--red);
  color: var(--white);
}

.time_data {
  font-size: var(--middle);
  margin-bottom: 10px;
}

.time_data span {
  font-weight: 700;
}

input {
  padding: 2px;
  border: none;
  border-bottom: 1px solid var(--primary);
  border-radius: 5px;
  background-color: transparent;
}

input:disabled {
  border: none;
  background-color: var(--light-gray);
}

select {
  border: none;
  border-bottom: 1px solid var(--primary);
  background-color: transparent;
}

.mr5 {
  margin-right: 5px;
}
