.mode_desc {
  max-width: fit-content;
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--sky-blue);
  border-radius: 15px;
  color: var(--primary);
}

.mode_desc .emphasis {
  font-weight: 700;
  color: var(--blue);
}

.beverage {
  width: 100px;
  margin-bottom: 20px;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #e9e9e9;
  font-size: var(--middle);
  font-weight: 700;
  text-align: center;
}

.bever_name {
  margin-bottom: 10px;
}

.ice {
  color: var(--blue);
}

.hot {
  color: var(--red);
}

.mode_btn {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--primary);
  color: var(--white);
  font-size: var(--middle);
}

.mode_btn:active {
  background-color: var(--gray);
  color: var(--primary);
}
