.beverage {
  display: flex;
  max-width: 200px;
  margin-bottom: 20px;
  padding: 20px 10px;
  border-right: 1px dashed var(--light-gray);
  border-bottom: 1px dashed var(--light-gray);
  border-radius: 10px;
  font-size: var(--middle);
  font-weight: 700;
  text-align: center;
}

.bever_name {
  min-width: 120px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.type_box {
  text-align: left;
}

.ice:first-child {
  margin-bottom: 5px;
}

.type_deco {
  padding: 1px 4px;
  border-radius: 3px;
  color: var(--white);
}

.ice {
  color: var(--blue);
}

.ice .type_deco {
  background-color: var(--blue);
}

.hot {
  color: var(--red);
}

.hot .type_deco {
  background-color: var(--red);
}

.total {
  max-width: fit-content;
  margin-bottom: 20px;
  padding: 2px;
  background-color: var(--secondary);
  color: var(--white);
  font-size: var(--middle);
  line-height: 1.4;
}
