.modal_container {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shadow);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin-top: 30px;
  padding: 30px;
  background-color: var(--white);
  border-radius: 30px;
}

.form {
  font-size: var(--middle);
}

.input_box1,
.input_box2 {
  margin-bottom: 20px;
}

.input_box1 label {
  font-weight: 700;
  margin-right: 10px;
}

.input_box1 input,
.input_box1 select {
  font-size: var(--middle);
}

.input_box2 legend {
  font-weight: 700;
  margin-bottom: 10px;
}
